body {
  margin: 0;
  font-family: "Segoe UI";
  background: linear-gradient(135deg,#667eea,#764ba2);
  min-height: 100vh;
}

.navbar {
  padding: 15px 30px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.auth-card,.dashboard {
  background: white;
  max-width: 420px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0,0,0,.25);
}

input,button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
}

button {
  background: #667eea;
  border: none;
  color: white;
  border-radius: 8px;
}

.dashboard div {
  display: flex;
  justify-content: space-between;
  background: #f4f6ff;
  padding: 10px;
  margin-top: 8px;
}